@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

.attribution { font-size: 11px; text-align: center; }
.attribution a { color:white; }

body{
  background-color: hsl(220, 15%, 55%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Outfit', Sans-Serif;
}
#container{
  display: flex;
  align-items: center;
  flex-direction: column;
  background: hsl(0, 0%, 100%);
  border-radius: 1.5em;
  margin: 20%;
  padding: 4%;
  width: 300px;
}
img{
  display: block;
  background-color: hsl(218, 44%, 22%);
  margin: auto;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 3%;
  border-radius: 1.5rem;
  align-items: center;
  justify-content: center;
}

#txt-cont {
  text-align: center;
  padding: .4rem;
}
h1{
  color: hsl(218, 44%, 22%);
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  font-weight: 700;
}
p{
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
}

@media (min-width: 768px){
  #container{
    padding: 0 0;
    flex-direction: row;
    width: auto;
  }
  img{
    margin: 0;
    padding: 0;
    display: block;
  }
  
  #txt-cont{
    margin: 0 4%;
    height: auto;
  }
}
